[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = sample app ...
[access "refs/*"]
	owner = group user/moellehe
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/moellehe
	label-Verified = -1..+1 group user/moellehe
	push = group user/moellehe
	read = group user/moellehe
	rebase = group user/moellehe
	removeReviewer = group user/moellehe
	submit = group user/moellehe
[access "refs/heads/*"]
	create = group user/moellehe
	push = +force group user/moellehe
	pushMerge = group user/moellehe
	read = group user/moellehe
[access "refs/tags/*"]
	push = group user/moellehe
	push = +force group user/moellehe
